/* General Styling */

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 150px;
}

/* Resume Container Styling */
.resume-container {
    display: flex;
    background-color: #f8f9fa;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensure proper alignment between sections */
}

/* Left Section Styling */
.left-section {
    background-color: #2a3439;
    color: #f8f9fa;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #bdc3c7;
}

.profile-picture {
    width: 150px;
    height: 180px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #bdc3c7;
    margin-bottom: 20px;
}

/* Section Titles */
h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #bdc3c7;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* List Styling */
ul {
    list-style-type: disc;
    padding: 10;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}

/* Right Section Styling */
.right-section {
    padding: 20px;
    width: 65%;
    background-color: #ffffff;
}

/* Content Box Styling */
.content-box {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Text and Links in the Right Section */
.right-section p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Button Styling */
button {
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    background-color: #8e44ad;
    color: white;
    border: none;
}

button:hover {
    background-color: #e67e22;
}

